[project]
	description = Vue abd three js with store
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shaun Savage (greenpdx)
[access "refs/for/refs/*"]
	read = group user/Shaun Savage (greenpdx)
	push = group user/Shaun Savage (greenpdx)
	label-Code-Review = -2..+2 group user/Shaun Savage (greenpdx)
	label-Verified = -1..+1 group user/Shaun Savage (greenpdx)
	rebase = group user/Shaun Savage (greenpdx)
	removeReviewer = group user/Shaun Savage (greenpdx)
	submit = group user/Shaun Savage (greenpdx)
[access "refs/heads/*"]
	read = group user/Shaun Savage (greenpdx)
	create = group user/Shaun Savage (greenpdx)
	push = +force group user/Shaun Savage (greenpdx)
	pushMerge = group user/Shaun Savage (greenpdx)
[access "refs/tags/*"]
	push = group user/Shaun Savage (greenpdx)
	push = +force group user/Shaun Savage (greenpdx)
