  <div class="vue3d">
    <h1>{{ msg }}</h1>
    <h3>{{ about }}<br/>
      Source <a v-bind:href="linkto"> vue3d </a> Contact <a v-bind:href="mailto">GreenPDX</a></h3>
    <div id="three3d" class="three3d" ref="three3d">
      <h2>{{ selectIt }}</h2>
      <v3d-renderer ref="renderer" :size="this.threeSize">
        <v3d-scene ref="scene">
          <v3d-camera :control="true" ref="camera0">
          </v3d-camera>
          <v3d-light color="#ffffff"></v3d-light>
          <v3d-mesh>
            <v3d-geometry type="Box" args="20,20,20" ref="geo">
              <v3d-material type="Standard" color="#ff0000" ref="mat"></v3d-material>
              <v3d-material type="Standard" color="#00ff00"></v3d-material>
              <v3d-material type="Standard" color="#0000ff"></v3d-material>
              <v3d-material type="Standard" color="#ff00ff"></v3d-material>
              <v3d-material type="Standard" color="#ffff00"></v3d-material>
              <v3d-material type="Normal" color="#00ffff"></v3d-material>
            </v3d-geometry>
          </v3d-mesh>
        </v3d-scene>
      </v3d-renderer>
      <div v-show="showInfo" class="infopop" ref="infopop">
        <div >{{ objInfo.uuid }}</div>
      </div>
    </div>
    <div class="right">
      <h3>Template Code</h3>
    </div>
  </div>
